@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.card {
    border-top-right-radius: 4rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 10px;
    padding: 1rem;
    width: 22rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:768px) {
    .card {
        width: 30rem;
        margin-bottom: 0;
    }
}

body {
    font-family: 'JetBrains Mono';
}

.btn-transaction {
    background: #2d3047;
    color: white;
}

.btn-transaction:hover {
    background: #171824;
    color: white;
}

.btn-delete {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0;
    height: fit-content;
}

@keyframes slideaway {
    from {
        display: block;
        transform: translateX(-5px);
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.delete {
    animation: slideaway 200ms;
    display: none;
}

.li-history:hover>div>.delete {
    display: block;
    margin-left: 5px;
}